/* table #1 */
.table-1{
    width: 100%;
    color: rgb(64, 64, 64);
    background-color: aliceblue;

}
.table-1 th{
    background-color: #23abd9;
    color: transparent;
    padding: .2rem;
    text-align: start;
}
.table-1 td{
    padding: .2rem;
    text-align: start;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button.ajs-ok{
    color: red !important;
}

/* table #2 */
/* more cod */