.input-group-text  {
    background-color: #B8D7F9;
    border: 1.5px solid #000000;
  }
  
  .form-control  {
      background-color: transparent;
      border: 1.5px solid #000000;
  }
  
  .table-1{
      width: 100%;
      color: rgb(3, 10, 1);
    
      border: 1px solid #000000;
  
  }
  
  .table-1 th{
      background-color: #0319C4;
      color:white;
      padding: .2rem;
      text-align: start;
  }
  
  .btn-info{
      background-color: transparent;
      border: 1px solid #000000;
  }
  
  .titulo {
    font: italic normal bold normal 3em/1 Helvetica, Arial, sans-serif;
    color: black;
    font-family: 'Open Sans';
    font-size: 20xp;
  }
  
  
  /*Los botones*/ 
  .btn-outline-dark {
    background-color: transparent;
    border: 1.8px solid #000000;
    text-decoration: none;
    color: black;
    
  }
  
  /*Quitar Sub*/ 
   a:link, a:visited, a:active, a:focus{
      text-decoration:none;
      Color: black; 
     
    }